body {
	font-family: Arial, Helvetica, sans-serif;
	}
#content {
	width: 450px;
	margin: 0 auto;
	padding: 0px 20px 20px;
	background: white;
	border: 2px solid navy;
}
	
h1 {
	color: navy;
	text-align: center;
}

label {
	width: 10em;
	padding-right: 1em;
	float: left;
	font-weight: bold;
}

#data input {
	float: left;
	width: 15em;
	margin-bottom: .5em;
}

#buttons input {
		float: left;
		margin-bottom: .5em;
}

br {
	clear: left;
}
	
#ScoreData
{
	text-align: center;
}

#ScoreLabel
{
	padding-right:  0.6em;
	float: none;
	width: 1em;
}